<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="RPDP CMS">
    <meta name="author" content="Justin Guyton, Vish Reddy, Jesse Huang, Danny Weiner">
    <link rel="stylesheet" href="../../static/css/home.css"> {% include 'main/link.html' %}

    <title>Features -- RAplus+</title>
    {% include 'main/nav.html' %}
</head>

<body>
    <!-- Features-->
    <div class="container grey-text text-darken-2">
        <!--   Icon Section   -->
        <div class="container" id="features">
            <div class="divider-new">
                <h4 class="center">App Features</h4>
            </div>
        </div>
        <div class="featureList" style="padding-bottom: 75px">
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center blue-text text-darken-3"><i class="medium material-icons">input</i></h2>
                        <h5 class="center">Upload Programs</h5>

                        <p class="light">Allow RA's to submit and read descriptions and reviews of your programs for the floor.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center blue-text text-darken-3"><i class="medium material-icons">assessment</i></h2>
                        <h5 class="center">Track Program Progress</h5>

                        <p class="light">Manage programs that are submitted, approved, or need mprovements.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center blue-text text-darken-3"><i class="medium material-icons">track_changes</i></h2>
                        <h5 class="center">Log &amp; Manage 1:1's</h5>

                        <p class="light">One-on-one interactions with residents can be logged so that you can keep track of how they're doing.</p>
                    </div>
                </div>
            </div>

            <!--   Second row Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center blue-text text-darken-3"><i class="medium material-icons">work</i></h2>
                        <h5 class="center">Manage Floor Budgets</h5>

                        <p class="light">Track exactly where, when, and how RA's are spending their money.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center blue-text text-darken-3"><i class="medium material-icons">group</i></h2>
                        <h5 class="center">Manage Staff</h5>

                        <p class="light">Staff change? No problem! Residential College Directors are able to keep tabs on their staffs.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center blue-text text-darken-3"><i class="medium material-icons">today</i></h2>
                        <h5 class="center">Program Calendar</h5>

                        <p class="light">Stay up to date with what is going on in the community around you.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
