<div id="recent_{{program.id}}_details" class="modal" style="width: 75%">
    <div class="modal-content">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3"><a href="#recent_{{program.id}}_overview" class="active">Overview</a></li>
                    <li class="tab col s3"><a href="#recent_{{program.id}}_sponsor">Sponsor</a></li>
                    <li class="tab col s3"><a href="#recent_{{program.id}}_administrative">Administrative</a></li>
                    <li class="tab col s3"><a href="#recent_{{program.id}}_evaluation">Evaluation</a></li>
                </ul>
            </div>
            <div id="recent_{{program.id}}_overview">
                <div class="row">
                    <div class="col s6">
                        <div class="title">
                            Program Title:
                        </div>
                        <div class="left-box">
                            {{program.program_name}}
                        </div>
                    </div>
                    <div class="col s3">
                        <div class="date">
                            Date:
                        </div>
                        <div class="left-box">
                            {{program.date.strftime("%B %d, %Y")}}
                        </div>
                    </div>
                    <div class="col s3">
                        <div class="time">
                            Time:
                        </div>
                        <div class="left-box">
                            {{program.time}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <div class="type">
                            Type:
                        </div>
                        <div class="left-box">
                            {{program.program_type}}
                        </div>
                    </div>
                    <div class="col s3">
                        <div class="location">
                            Location:
                        </div>
                        <div class="left-box">
                            {{program.location}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="description">
                            Description:
                        </div>
                        <div class="left-box">
                            {{program.description}}
                        </div>
                    </div>
                </div>
            </div>
            <div id="recent_{{program.id}}_sponsor">
                <div class="row">
                    <div class="col s6">
                        <div class="primary_sponsor">
                            Sponsor:
                        </div>
                        <div class="left-box">
                            {{program.owner_first_name}} {{program.owner_last_name}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <div class="time">
                            Organizations involved:
                        </div>
                        <div class="left-box">
                            {{program.organizations_involved}}
                        </div>
                    </div>
                </div>
            </div>
            <div id="recent_{{program.id}}_administrative">
                <div class="row">
                    <div class="col s12">
                        <div class="community">
                            Residential Community:
                        </div>
                        <div class="left-box">
                            {{program.community}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <div class="money_spent">
                            Money Spent:
                        </div>
                        <div class="left-box">
                            {{program.money_spent}}
                        </div>
                    </div>

                </div>
            </div>
            <div id="recent_{{program.id}}_evaluation">
                <div class="row">
                    <div class="col s12">
                        <div class="implementation">
                            What went well with planning and implementation?
                        </div>
                        <div class="left-box">
                            {{program.implementation}}
                            <br>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="improvement">
                            What could be improved?
                        </div>
                        <div class="left-box">
                            {{program.improvement}}
                            <br>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="assessment">
                            How was the program assessed?
                        </div>
                        <div class="left-box">
                            {{program.assessment}}
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
