<!DOCTYPE html>
<html>

<head>
    {% include 'main/link.html' %}

    <title>Sign Up</title>
</head>

<body>
    <div class="valign-wrapper row login-box">
        <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
            <!-- <form method="post" action="/post_login"> -->
            <form method="post" action="/new_user">
                <div class="card-content">
                    <img src="../../static/images/logo.png" height="100px" width="150px" >
                    <span class="card-title">Sign Up</span>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="first_name" name="first_name" type="text" class="validate">
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="last_name" name="last_name" type="text" class="validate">
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="email" name="email" type="email" class="validate">
                            <label for="email">Email Address</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="password" name="password" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                          <select name="position" id = 'position' onchange="showfield(this.options[this.selectedIndex].value)">
                            <option value="rcd">RCD</option>
                            <option value="ra">RA</option>
                          </select>
                          <label>Position</label>
                         </div>

                      <div class = "input-field col s6">
                        <select name = "residential_college" id = 'rescollege'>
                            <option value="" disabled selected></option>
                            <option value="1">Apartments North</option>
                            <option value="2">Apartments South</option>
                            <option value="3">Brookings</option>
                            <option value="4">Hitzeman Hurd and Myers</option>
                            <option value="5">Lee Beaumont</option>
                            <option value="6">Liggett Koenig </option>
                            <option value="7">Park and Mudd</option>
                            <option value="8">Umrath and South Forty House</option>

                            <option value="9">Shanedling Dauten and Rutledge</option>
                            <option value="11">The Village</option>
                            <option value="10">Thomas H. Eliot</option>
                            <option value="12">Wayman Crow</option>
                            <option value="13">William Greenleaf Eliot </option>
                        </select>
                        <label>Residential College</label>
                      </div>
                    </div>
                    <div class = "row" >
                      <div class = "input-field col s6" id = "floor">
                        <select name = "floor" id = "floor_num">
                          <option value="0">0</option>
                          <option value="1" selected="">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                        </select>
                        <label>Floor</label>
                      </div>
                    </div>
                </div>
                <div class="card-action right-align">
                    <input type="submit" class="btn waves-effect waves-light blue darken-3" value="Sign Up">
                </div>
            </form>
        </div>
    </div>
</body>
    <script>
    $(document).ready(function() {
      $('select').material_select();
      $('#floor').hide();
    });
    function showfield(name){
      if(name=='ra'){
        $('#floor').show();
      }
      else{
        $('#floor').hide();
      }
    }
    </script>


</html>
