<!DOCTYPE html>
<html>

<head>
    {% include 'main/link.html' %}

    <title>Sign Up</title>
</head>

<body>
    <div class="valign-wrapper row login-box">
        <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
            <!-- <form method="post" action="/post_login"> -->
            <form method="post" action="/new_user">
                <div class="card-content">
                    <img src="../../static/images/logo.png" height="100px" width="150px" >
                    <span class="card-title">Sign Up</span>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="first_name" name="first_name" type="text" class="validate">
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="last_name" name="last_name" type="text" class="validate">
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="email" name="email" type="email" class="validate">
                            <label for="email">Email Address</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="password" name="password" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                          <select name="position" id = 'position'>
                            <option value="ra">Resident Advisor</option>
                            <option value="rcd">Residential College Director</option>
                          </select>
                          <label>Position</label>
                         </div>
                    </div>
                </div>
                <div class="card-action right-align">
                    <input type="submit" class="btn waves-effect waves-light blue darken-3" value="Sign Up">
                </div>
            </form>
        </div>
    </div>
</body>
    <script>
    $(document).ready(function() {
      $('select').material_select();
    });
    </script>


</html>
