<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="RPDP CMS">
    <meta name="author" content="Justin Guyton, Vish Reddy, Jesse Huang, Danny Weiner">
    <link rel="stylesheet" href="../../static/css/home.css"> {% include 'main/link.html' %}

    <title>Home -- RAplus+</title>
    {% include 'main/nav.html' %}
</head>
<style type="text/css">
    .card .card-content {
        padding: 10px;
        border-radius: 0 0 2px 2px;
    }
</style>

<body>

    <div class="row">
      <div class="col s4">
        <div class="card">
            <div class="card-content white-text #43a047 green darken-1">
              <span class="card-title">To-Do</span>
            </div>
            <ul>
              <li>
                  <div class="card-action">
                      <input type="checkbox" id="task1">
                      <label for="task1">Task1</label>
                  </div>
              </li>
              <li>
                  <div class="card-action">
                      <input type="checkbox" id="task2">
                      <label for="task2">Task2</label>
                  </div>
              </li>
            </ul>
        </div>
      </div>
      <div class="col s8">
        <div class="card">
          <div class="card-content white-text #43a047 blue darken-2">
              <span class="card-title">Upcoming Programs</span>
          </div>
          <div style="height:200px;overflow:auto;">
              <table class="striped">
                  <thead class="#039be5 grey">
                      <tr>
                          <th>Name</th>
                          <th>Date</th>
                          <th>Type</th>
                          <th>Location</th>
                      </tr>
                  </thead>

                  <tbody>
                      <tr>
                          <td>Meet your RA's</td>
                          <td>May 1, 2017</td>
                          <td>Active</td>
                          <td>Ligget/Koenig</td>
                      </tr>
                      <tr>
                          <td>Ice Cream with FA</td>
                          <td>April 22, 2017</td>
                          <td>Active</td>
                          <td>SoFoHo Common</td>
                      </tr>
                      <tr>
                          <td>Stress relief nuts</td>
                          <td>April 28, 2017</td>
                          <td>Active</td>
                          <td>K3 Common room</td>
                      </tr>
                  </tbody>
              </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s4">
          <div class="card">
            <div class="card-content white-text #43a047 yellow darken-2">
              <span class="card-title">Announcements</span>
            </div>
            <ul class="collection">
              <li class="collection-item">
                <p>Staff meeting tonight!</p>
              </li>
              <li class="collection-item">
                <p>Contracts end on 5/21</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col s8">
          <div class="card">
            <div class="card-content white-text #43a047 red darken-2">
              <span class="card-title">Recent Programs</span>
            </div>
            <div style="height:200px;overflow:auto;">
                <table class="striped">
                    <thead class="#f57f17 grey">
                        <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Skating on Mudd</td>
                            <td>April 15, 2017</td>
                            <td>Active</td>
                            <td>Ligget/Koenig</td>
                        </tr>
                        <tr>
                            <td>Self Care Poster</td>
                            <td>April 10, 2017</td>
                            <td>Passive</td>
                            <td>SoFoHo 2</td>
                        </tr>
                        <tr>
                            <td>Java and Java</td>
                            <td>April 07, 2017</td>
                            <td>Active</td>
                            <td>K1 Common room</td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>

</body>

</html>
