<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="RPDP CMS">
    <meta name="author" content="Justin Guyton, Vish Reddy, Jesse Huang, Danny Weiner">
    <link rel="stylesheet" href="../../static/css/home.css"> {% include 'main/link.html' %}

    <title>Home -- RAplus+</title>
    {% include 'main/nav.html' %}
</head>
<style type="text/css">
    .card .card-content {
        padding: 10px;
        border-radius: 0 0 2px 2px;
    }
</style>

<body>

    <div class="row">
      <div class="col s5">
        <div class="card">
          <div class="card-content white-text #43a047 red darken-2">
            <span class="card-title">Recent Programs</span>
          </div>
          <div style="height:500px;overflow:auto;">
            <table class="striped">
             <thead>
                 <tr>
                     <th>Program Name</th>
                     <th>Date</th>
                     <th>Community</th>
                     <th>Type of Program</th>
                 </tr>
             </thead>

             <tbody>
                 {% for program in recent_programs %}
                 <tr>
                     <td>{{program.program_name}}</td>
                     <td>{{program.date.strftime("%B %d, %Y")}}</td>
                     <td>{{program.location}}</td>
                     <td>{{program.program_type}}</td>
                     <td><a href="#{{program.id}}_details">More Details</a></td>
                 </tr>

                 {%include 'main/program_card.html' %}
                 {% endfor %}
             </tbody>
         </table>
          </div>
        </div>
      </div>

      <div class="col s5">
        <div class="card">
          <div class="card-content white-text #43a047 blue darken-2">
              <span class="card-title">Your Programs</span>
          </div>
          <div style="height:500px;overflow:auto;">
            <table class="striped">
             <thead >
                 <tr>
                     <th>Program Name</th>
                     <th>Date</th>
                     <th>Community</th>
                     <th>Type of Program</th>
                 </tr>
             </thead>

             <tbody>
                 {% for program in your_programs %}
                 <tr>
                     <td>{{program.program_name}}</td>
                     <td>{{program.date.strftime("%B %d, %Y")}}</td>
                     <td>{{program.location}}</td>
                     <td>{{program.program_type}}</td>
                     <td><a href="#{{program.id}}_details">More Details</a></td>
                 </tr>
                 {%include 'main/program_card.html' %}

                 {% endfor %}
             </tbody>
         </table>
          </div>
        </div>
      </div>
    </div>

</body>
<script type="text/javascript">
    $(document).ready(function () {
        $('select').material_select();
        $('.collapsible').collapsible();
        $('ul.tabs').tabs();

        $(".show-more a").on("click", function () {
            if ($('.show-more a').text() === "Advanced Search") {
                $(".filter").removeClass("hide");
                $('.show-more a').text('Show Less');
            } else {
                $(".filter").addClass("hide");
                $('.show-more a').text('Advanced Search');
            }
        });
    });

    $(document).ready(function () {
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
    });
</script>


</html>
