<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="RPDP CMS">
    <meta name="author" content="Justin Guyton, Vish Reddy, Jesse Huang, Danny Weiner">
    <link rel="stylesheet" href="../../static/css/home.css"> 
    {% include 'main/link.html' %}

    <title>Home -- RAplus+</title>
    {% include 'main/nav.html' %}
</head>

<body>
</body>

</html>