<!DOCTYPE html>
<html>

<head>
    {% include 'main/link.html' %}

    <title>Submit One-on-One</title>
    {% include 'main/nav.html' %}
</head>

<body>
    <div class="container">
        <center><h4>Submit One-on-One</h4></center>
        <div class="row">
            <form class="col s12" method="post" action="/submit_1-1">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="resident_first_name" name="resident_first_name" type="text" class="validate">
                        <label for="resident_first_name">Resident First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="resident_last_name" name="resident_last_name" type="text" class="validate">
                        <label for="resident_last_name">Resident Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="housing" name="housing" type="text" class="validate">
                        <label for="housing">Housing</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="room_number" name="room_number" type="text" class="validate">
                        <label for="room_number">Room Number</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="recommended_resources" name="recommended_resources" type="text" class="validate">
                        <!-- Make select boxes -->
                        <label for="recommended_resources">Resources Recommended</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="concerns" name="concerns" type="text" class="validate">
                        <label for="concerns">Concerns</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="notes" name="notes" class="materialize-textarea"></textarea>
                        <label for="notes">Notes</label>
                    </div>
                </div>
                <input type="submit" name="submit" class="waves-effect waves-light btn" />
                <button class="btn waves-effect waves-red blue darken-3" type="reset" name="/submit">Reset</button>
            </form>
        </div>
    </div>
</body>

<script type="text/javascript">
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 1 // Creates a dropdown of 2 years to control year
    });
</script>

</html>
